@import 'tailwindcss';
@config "../../../../tailwind.config.cjs";

@plugin "@tailwindcss/typography";

@source '../../../../src/**/*.md';
@source '../../**/*.{vue,ts}';



:root {
  --color-yellow: #ffbf00;
  --color-purple: #6c71c4;
  --color-sand: #fdf6e3;
}
